/*  General */

body {
    width: auto;
    margin: 0;
}

main {
    padding: 2.7rem;
}

body, 
.buttonRechercher, 
#recherche,
section,
aside,
footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#titre img {
    width: 8rem;
    padding: 0.8rem 0 0 0;
}

#menu li:nth-child(1) a,
#menu li:nth-child(2) a {
    font-weight: normal;
}

h2 {
    font-size: 1.9rem;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#recherche, 
.icons {
    padding: 0.8rem 1.3rem 0.8rem 1.3rem; 
    border: 2px solid #F2F2F2;
    font-size: 1.4rem;
}

#hebergements, 
aside, 
footer {
    background-color: #F2F2F2;
} 

footer, 
#activites {
    width: 100%;
}

#slogan {
    flex-direction: column;
}

#filtres, 
.infoIcon {
    padding: 1em 0 1em 0;
}


#filtres, 
.infoIcon {
    align-items: center;
}

section, 
aside {
    padding: 2em 0 2em 0;
}

.buttonFiltres li {
    margin: 0.8em;
}

/*  L'en-tête   */

header {
    display: flex;
    justify-content: space-between;
    width: auto;
}

#titre {
    padding: 2.7rem 3.5rem;
}

#menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

body header nav {
    padding: 2.7rem 5rem;
}

#menu li {
    margin-left: 6rem;
    margin-right: 0;
    font-size: 1.3rem;
}

#menu li a {
    color: #0065FC;
}

#slogan {
    padding-right: 1%;
    padding-left: 1%;
}

.sloganTitre {
    margin-bottom: 0;
    font-size: 1.6em;
}

.sloganParagraphe {
    padding-top: 0.2em;
    margin-top: 0;
}

    /*  Barre de Recherche  */
.champDeRecherche {
    display: flex;
    margin: 0 0 1.4rem 0;
    padding-right: 1%;
    padding-left: 1%;
}

.icons {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

#recherche {
    font-weight: bold;
    font-size: 1.5rem;
}

.buttonRechercher {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.8rem 1.3rem 0.8rem 1.5rem;
    border-radius: 0 15px 15px 0;
}

    /*  icones des filtres  */
.icone {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 0.8em;
}

#filtres ul li span {
    position: relative;
}

#filtres ul li span svg {
    width: 1.6rem;
    height: 1.3rem;
}

#filtres ul li:nth-child(1) span svg {
    width: 1.21rem;
}

    /*  filtres  */
#filtres {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
}

#filtres h2 {
    font-size: 1.4rem;
    padding: 0 0 0 1.3rem;
}

.buttonfiltres {
    padding: 0.55em 0.85em 0.55em 2.1em;
    border-top: 0.2em solid #f2f2f2;
    border-right: 0.2em solid #f2f2f2;
    border-bottom: 0.2em solid #f2f2f2;
    border-radius: 0 50px 50px 0;
    margin-left: -2rem;
    color: black;
}

#filtres ul {
    display: flex;
    list-style: none;
}

#filtres li {
    margin-right: 2rem;
    font-size: 1.47rem;
}

/*  Le corps de page */

    /*  icone d'info    */
.infoIcon {
    display: flex;
    font-size: 1.3rem;
    padding-right: 1%;
    padding-left: 1%;
}

.infoIconRecherche {
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
    margin: 0.7rem 0.8em 0.7rem 0.3rem;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}

.svg-inline--fa.fa-w-6 {
    width: 0.33rem;
    color: #0065FC;
}

    /*  placement body  */

.sectionAsideSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    /*  icone hebergement    */

main {
    padding: 0 1.2rem 0 2rem;
    justify-content: space-between;
}

    /* Section hebergements */

#hebergements {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 1.5%;
    width:63.25%;
    border-radius: 25px;
}

    /* Titre section hebergement */

#hebergements h3 {
    padding: 0 0 0 3.3rem;
    font-size: 1.78rem;
}

    /* carte section hebergement */


.cartesHebergements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    object-fit: cover;
    height: 16rem;
    flex-flow: column;
    padding: 0.2rem;
    width: 100%;
    margin: auto;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    box-shadow: 2px 3px 13px rgba(128, 128, 128, 0.1), -4px -3px 13px rgba(128, 128, 128, .1);
}

    /* Les cartes */

#hebergements article a:nth-child(1),
#hebergements article a:nth-child(2),
#hebergements article a:nth-child(3),
#hebergements article a:nth-child(4),
#hebergements article a:nth-child(5),
#hebergements article a:nth-child(6)
 {
    width: 27.4%;
    margin-bottom: 3rem;
}

#hebergements article a:nth-child(1),
#hebergements article a:nth-child(4) {
    padding: 0 0 0 1.7rem;
}

#hebergements article a:nth-child(2),
#hebergements article a:nth-child(5) {
    padding: 0;
}

#hebergements article a:nth-child(3),
#hebergements article a:nth-child(6) {
    padding: 0 2rem 0 0;
}

#hebergements article a:nth-child(1) figure,
#hebergements article a:nth-child(3) figure,
#hebergements article a:nth-child(2) figure,
#hebergements article a:nth-child(4) figure,
#hebergements article a:nth-child(5) figure,
#hebergements article a:nth-child(6) figure {
    border: none;
} 

        /*  Les images des hebergements */

#hebergements article a:nth-child(1) figure img,
#hebergements article a:nth-child(2) figure img,
#hebergements article a:nth-child(3) figure img,
#hebergements article a:nth-child(4) figure img,
#hebergements article a:nth-child(5) figure img,
#hebergements article a:nth-child(6) figure img {
    width: auto;
    object-position: 0 -1.5rem;
    border-radius: 25px 25px 0 0;
    height: 69%;
    padding: 0.5% 0.5% 0 0.5%;
}

        /*  Les descriptions des hebergements */

#hebergements article a:nth-child(1) figure figcaption,
#hebergements article a:nth-child(2) figure figcaption,
#hebergements article a:nth-child(3) figure figcaption,
#hebergements article a:nth-child(4) figure figcaption,
#hebergements article a:nth-child(5) figure figcaption,
#hebergements article a:nth-child(2) figure figcaption,
#hebergements article a:nth-child(6) figure figcaption {
    background-color: #fff;
    color: black;
    padding: 0;
    text-align: left;
}

#hebergements article a:nth-child(1) figure figcaption h4,
#hebergements article a:nth-child(2) figure figcaption h4,
#hebergements article a:nth-child(3) figure figcaption h4,
#hebergements article a:nth-child(4) figure figcaption h4,
#hebergements article a:nth-child(5) figure figcaption h4,
#hebergements article a:nth-child(6) figure figcaption h4 {
    margin: -1rem 0 0 0.5rem;
    padding-left: 0.6rem;
    font-size: 1.32rem;
    font-weight: 700;
}

#hebergements article a:nth-child(1) figure figcaption p,
#hebergements article a:nth-child(2) figure figcaption p,
#hebergements article a:nth-child(3) figure figcaption p,
#hebergements article a:nth-child(4) figure figcaption p,
#hebergements article a:nth-child(5) figure figcaption p,
#hebergements article a:nth-child(6) figure figcaption p {
    margin: 0.4rem 0 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    padding-left: 1.1rem;
}

        /*  Les etoiles des hebergements    */

            /*  Les etoiles des carte    */

#hebergements article a:nth-child(1) figure figcaption div,
#hebergements article a:nth-child(2) figure figcaption div,
#hebergements article a:nth-child(3) figure figcaption div,
#hebergements article a:nth-child(4) figure figcaption div,
#hebergements article a:nth-child(5) figure figcaption div,
#hebergements article a:nth-child(6) figure figcaption div {
    font-size: 1rem;
    padding: 0 0 0 1rem;
    margin: 0.2rem 0 0.2rem 0;
}

                /*  1ere carte, 3ème et 5ème carte  */

#hebergements article a:nth-child(1) figure figcaption div svg:nth-child(1),
#hebergements article a:nth-child(1) figure figcaption div svg:nth-child(2),
#hebergements article a:nth-child(1) figure figcaption div svg:nth-child(3),
#hebergements article a:nth-child(1) figure figcaption div svg:nth-child(4),
#hebergements article a:nth-child(3) figure figcaption div svg:nth-child(1),
#hebergements article a:nth-child(3) figure figcaption div svg:nth-child(2),
#hebergements article a:nth-child(3) figure figcaption div svg:nth-child(3),
#hebergements article a:nth-child(3) figure figcaption div svg:nth-child(4),
#hebergements article a:nth-child(5) figure figcaption div svg:nth-child(1),
#hebergements article a:nth-child(5) figure figcaption div svg:nth-child(2),
#hebergements article a:nth-child(5) figure figcaption div svg:nth-child(3),
#hebergements article a:nth-child(5) figure figcaption div svg:nth-child(4) {
    color: #0065FC;
}

#hebergements article a:nth-child(1) figure figcaption div svg:nth-child(5),
#hebergements article a:nth-child(3) figure figcaption div svg:nth-child(5),
#hebergements article a:nth-child(4) figure figcaption div svg:nth-child(5),
#hebergements article a:nth-child(5) figure figcaption div svg:nth-child(5) {
    color: #DEEBFF;
}

                /*  2eme carte et 6ème carte  */
#hebergements article a:nth-child(2) figure figcaption div svg:nth-child(1),
#hebergements article a:nth-child(2) figure figcaption div svg:nth-child(3),
#hebergements article a:nth-child(2) figure figcaption div svg:nth-child(2),
#hebergements article a:nth-child(2) figure figcaption div svg:nth-child(4),
#hebergements article a:nth-child(2) figure figcaption div svg:nth-child(5),
#hebergements article a:nth-child(6) figure figcaption div svg:nth-child(1),
#hebergements article a:nth-child(6) figure figcaption div svg:nth-child(2),
#hebergements article a:nth-child(6) figure figcaption div svg:nth-child(3),
#hebergements article a:nth-child(6) figure figcaption div svg:nth-child(4),
#hebergements article a:nth-child(6) figure figcaption div svg:nth-child(5) {
    color: #0065FC;
}

                /*  4ème carte  */
#hebergements article a:nth-child(4) figure figcaption div svg:nth-child(1),
#hebergements article a:nth-child(4) figure figcaption div svg:nth-child(3),
#hebergements article a:nth-child(4) figure figcaption div svg:nth-child(2) {
        color: #0065FC;
    }
#hebergements article a:nth-child(4) figure figcaption div svg:nth-child(4) {
    color: #DEEBFF;
}

    /*  "afficher plus" section hebergement    */

#hebergements div {
    padding: 1rem 0 1rem 0;
    margin-bottom: 0.6rem;
}

#hebergements div a {
    padding: 3.5rem;
    font-size: 1.45rem;
    color: black;
}
        
    /*  icone les plus populaires    */

aside {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 30%;
    border-radius: 25px;
    padding: 0;
}

    /*  Titre les plus populaires   */

.asideTitle {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 3.3rem;
}

body main div.sectionAsideSection aside div h3 {
    margin-top: 4rem;
    font-size: 1.78rem;
    margin-bottom: -1rem;
}

    /*  Logo les plus populaires   */

body main div.sectionAsideSection aside div div {
    position: relative;
    left: 3.1rem;
    margin: 4rem 3rem -1em 5.5rem;
    font-size: 1.4rem;
}

    /*  Les cartes les plus populaires  */

body main aside article a:nth-child(1) figure,
body main aside article a:nth-child(2) figure,
body main aside article a:nth-child(3) figure {
    display: flex;
    object-fit: cover;
    border: none;
    flex-flow: row;
    margin: 3.05rem;
    width: 80%;
    height: 11rem;
    border-radius: 25px;
    background-color: white;
    border-color: white;
}

    /*  Images les plus populaires  */

body main aside article a:nth-child(1) figure img,
body main aside article a:nth-child(3) figure img, 
body main aside article a:nth-child(2) figure img {
    width: auto;
    border-radius: 25px 0 0 25px;
    height: 98%;
    padding: 0.5%;
    }

body main aside article a:nth-child(1) figure img,
body main aside article a:nth-child(2) figure img {
    width: 45%;
    object-position: -2rem;
}

body main aside article a:nth-child(3) figure img {
    width: 40.5%;
    object-position: -1rem;
}

    /*  contenu cartes les plus populaires  */
body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption h4,
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption h4 {
    margin-bottom: 0;
    font-size: 1.34rem;
    font-weight: 700;
    color: black;
}

body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption h4 {
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: 1.34rem;
    font-weight: 700;
    color: black;
}

body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption p,
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption p {
    margin: 0.4rem 0 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    color: black;
}

body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption p {
    margin: 0.4rem 0 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    padding-left: 1.1rem;
    color: black;
}

    /*  etoiles cartes les plus populaires  */

body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption div,
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption div,
body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div {
    font-size: 1rem;
    margin-top: 2.5em;
    
}

body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div {
    padding-left: 1.1rem;
    margin-top: 2.5em;
}

        /*  1ere carte  */
body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption div svg:nth-child(1),
body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption div svg:nth-child(2),
body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption div svg:nth-child(3),
body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption div svg:nth-child(4),
body main div.sectionAsideSection aside article a:nth-child(1) figure figcaption div svg:nth-child(5) {
    color: #0065FC;
}

        /*  2eme et 3eme carte  */
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption div svg:nth-child(3),
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption div svg:nth-child(2),
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption div svg:nth-child(1),
body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption div svg:nth-child(4),
body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div svg:nth-child(1),
body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div svg:nth-child(2),
body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div svg:nth-child(3),
body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div svg:nth-child(4) {
    color: #0065FC;
}

body main div.sectionAsideSection aside article a:nth-child(2) figure figcaption div svg:nth-child(5),
body main div.sectionAsideSection aside article a:nth-child(3) figure figcaption div svg:nth-child(5) {
    color: #f2f2f2;
}

    /*  Les activités   */

#activites {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.1%;
}

#activites article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 1.8%;
}

.activiteColonnesCartes {
    display: flex;
    flex-direction: column;
}


        /*  Titre les activités    */

#activites h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
    padding: 1%
}

        /*  Les cartes des activites    */

.activiteColonnesCartes,
.activitegrandecarte {
    display: flex;
    flex-direction: column;
    width: 23%;
    padding: 0;
    height: 38rem;
    flex-flow: column;
    background-color: white;
} 

        /*  Titre des cartes    */

#activites article div:nth-child(1) a figure figcaption h4,
#activites article div:nth-child(2) a:nth-child(1) figure figcaption h4,
#activites article div:nth-child(2) a:nth-child(2) figure figcaption h4,
#activites article div:nth-child(3) a figure figcaption h4,
#activites article div:nth-child(4) a:nth-child(1) figure figcaption h4,
#activites article div:nth-child(4) a:nth-child(2) figure figcaption h4 {
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: 1.34rem;
    font-weight: 700;
    color: black;
}


        /*  Taille Grandes cartes   */

#activites article div:nth-child(1) a,
#activites article div:nth-child(3) a {
    height: 100%;
}

#activites article a:nth-child(1) figure,
#activites article a:nth-child(3) figure {
    width: 98%;
    padding: 0;
    height: 98%;
    border-radius: 25px;
}

#activites article a:nth-child(1) figure {
    height: 97.5%;
    padding: 0%;
}

#activites article a:nth-child(3) figure {
    height: 97.5%;
    padding: 0%;
}

            /*  Taille Grandes cartes  

            /*  Taille des Cartes colonnes  */

#activites article div:nth-child(2) a:nth-child(1) figure,
#activites article div:nth-child(2) a:nth-child(2) figure,
#activites article div:nth-child(4) a:nth-child(1) figure,
#activites article div:nth-child(4) a:nth-child(2) figure {
    width: 98%;
    padding: 0;
    border-radius: 25px;
}

            /*  Taille Moyennes cartes  */

                /*  2eme carte et 6eme carte    */
#activites article div:nth-child(2) a:nth-child(1) {
    height: 55%;
    margin-bottom: 5%;
}

#activites article div:nth-child(4) a:nth-child(2) {
    height: 55%;
    margin-top: 5%;
}

#activites article div:nth-child(2) a:nth-child(1) figure {
    height: 95%;
}

#activites article div:nth-child(4) a:nth-child(2) figure {
    height: 83%;
}

            /*  Taille Petites cartes  */

#activites article div:nth-child(2) a:nth-child(2) {
    height: 55%;
    margin-top: 5%;
}

#activites article div:nth-child(4) a:nth-child(1) {
    height: 45%;
    margin-bottom: 5%;
}

#activites article div:nth-child(2) a:nth-child(2) figure {
    height: 66%;
}

#activites article div:nth-child(4) a:nth-child(1) figure{
    height: 95%;
}

        /*  Grandes carte   */  
#activites article a:nth-child(1) figure img {
    border-radius: 25px 25px 0 0;
    height: 87%;
    width: 100%;
    object-position: -20rem;
    object-fit: cover;
}

#activites article a:nth-child(3) figure img {
    border-radius: 25px 25px 0 0;
    height: 87.5%;
    width: 100%;
    object-position: 0rem;
    object-fit: cover;
}
        /*  Moyennes cartes  */

#activites article div:nth-child(2) a:nth-child(1) figure img {
    border-radius: 25px 25px 0 0;
    height: 75%;
    width: 100%;
    object-position: 0rem;
    object-fit: cover;
}

#activites article div:nth-child(4) a:nth-child(2) figure img {
    border-radius: 25px 25px 0 0;
    height: 73%;
    width: 100%;
    object-position: 0rem;
    object-fit: cover;
}
        /*  Petites cartes  */

#activites article div:nth-child(2) a:nth-child(2) figure img {
    border-radius: 25px 25px 0 0;
    height: 65%;
    width: 100%;
    object-position: 0rem;
    object-fit: cover;
}

#activites article div:nth-child(4) a:nth-child(1) figure img {
    border-radius: 25px 25px 0 0;
    height: 70%;
    width: 100%;
    object-position: 0rem;
    object-fit: cover;
}

/*  Le pied de page */

footer {
    display: flex;
    justify-content: flex-start;
}

    /*  les listes  */

body footer div:nth-child(1) {
    margin-left: 3%;
}

body footer div:nth-child(1) {
    margin-right: 17%;
}

body footer div:nth-child(2) {
    margin-right: 20%;
}
        /*  Les titres  */

footer h5 {
    margin-bottom: 0;
    font-size: 1.50rem;
    font-weight: 600;
    color: black;
}

body footer div ul {
    padding-left: 0;
    list-style: none;
}

body footer div li {
    margin-bottom: 1rem;
}

body footer div a {
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}
