/*  General */

body {
    display: block;
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#hebergements, 
aside, 
footer {
    background-color: #F2F2F2;
} 

footer, 
#activites {
    width: 100%;
}

#filtres, 
.infoIcon {
    align-items: center;
}


    /*  Header  */

header,
body header nav,
#menu,
#menuInscription {
    display: flex;
}

header {
    justify-content: space-between;
    width: auto;
}

#titre {
    padding: 50px;
}

body header nav {
    flex-wrap: wrap;
}

#menu,
#menuInscription {
    list-style: none;
    margin-top: 0;
}

#menu {
    justify-content: space-around;
    width: 55%;
    padding-left: 30px;
}

#menu li,
#menuInscription li {
    margin-right: 0;
}

#menuInscription {
    width: 30%;
    justify-content: flex-end;
    padding: 0;
    border-top: transparent 5px solid;
}


#menu .lienMenuHebergement,
#menu .lienMenuActivite {
    margin-top: 0;
    padding: 50px 50px 0 50px;
    width: 50%;
    margin: 0;
    border-top: transparent 5px solid;
}

#menu .lienMenuHebergement:hover,
#menu .lienMenuActivite:hover {
    border-top: #0065FC 5px solid;
}

#menuInscription li {
    margin-left: 50px;
    width: 25%;
    justify-content: flex-end;
    padding-top: 50px;
    margin-top: 0;
}

#menu .lienMenuHebergement a,
#menu .lienMenuActivite a {
    font-weight: normal;
    color: black;
}

#menu .lienMenuHebergement a:hover,
#menu .lienMenuActivite a:hover {
    color: #0065FC
}

#menuInscription li a {
    color: #0065FC;
}

    /*  Main    */

main {
    padding: 0 20px;
    margin: 0 20px;
    justify-content: space-between;
}
        /*  Slogan  */

#slogan {
    flex-direction: column;
    padding: 20px 0;
}
        
.sloganTitre {
    margin-bottom: 20px;
    font-size: 25px;
    padding-left: 20px;
}
        
.sloganParagraphe {
    margin-top: 0;
    padding-left: 20px;
}

        /*  Recherche   */

body main form div div {
    background-color: #F2F2F2;
}

#recherche, 
.icons {
    padding: 10px 20px; 
    border: 2px solid #F2F2F2;
    font-size: 25px;
}

.champDeRecherche {
    display: flex;
    margin: 0 0 30px 0;
    padding-left: 20px;
}

.icons {
    border-radius: 15px 0 0 15px;
}

#recherche {
    font-weight: bold;
    font-size: 20px;
}

.buttonRechercher,
.buttonLoupe {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    transition: all 0.4s ease-out;
}

.buttonRechercher:hover,
.buttonLoupe:hover {
    transform: scale(1.05);
    border: 3px solid #0065FC;
}

.buttonLoupe {
    visibility: hidden;
}
        
        /*  Filtres */

            /*  Icones  */
#filtres .icone {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 0.75em;
    transition: all 0.4s ease-out;
}

#filtres .filtreBillet:hover .icone,
#filtres .filtreEnfant:hover .icone,
#filtres .filtreCoeur:hover .icone,
#filtres .filtreChien:hover .icone {
    color: #DEEBFF;
    background-color: #0065FC;
    border-color: #0065FC;
}

#filtres ul li span {
    position: relative;
}

#filtres ul li span svg {
    width: 1.6rem;
    height: 1.3rem;
}

#filtres ul li:nth-child(1) span svg {
    width: 1.21rem;
}

            /*  Boutons */
            
#filtres,
#filtres ul {
    display: flex;
}

#filtres {
    padding: 0 1% 1% 0;
}
            
#filtres h2 {
    font-size: 1.4rem;
    padding: 0 0 0 1.3rem;
}
            
.buttonfiltres {
    padding: 0.55em 0.85em 0.55em 2.1em;
    border-top: 0.2em solid #f2f2f2;
    border-right: 0.2em solid #f2f2f2;
    border-bottom: 0.2em solid #f2f2f2;
    border-radius: 0 50px 50px 0;
    margin-left: -2rem;
    color: black;
    transition: all 0.4s ease-out;
}
            
#filtres ul {
    list-style: none;
}
            
#filtres li {
    margin-right: 2rem;
    font-size: 1.47rem;
}
            
.filtreBillet:hover .buttonfiltres,
.filtreEnfant:hover .buttonfiltres,
.filtreCoeur:hover .buttonfiltres,
.filtreChien:hover .buttonfiltres {
    background-color: #0065FC;
    color: #DEEBFF;
    border-color: #0065FC;
}

        /*  Info    */

.infoIcon {
    display: flex;
    font-size: 1.3rem;
    padding-right: 1%;
    padding-left: 2%;
}
        
.infoIconRecherche {
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
    margin: 0.7rem 0.8em 0.7rem 0.3rem;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}
        
.svg-inline--fa.fa-w-6 {
    width: 0.33rem;
    color: #0065FC;
}
        /*  Section et Aside*/

.sectionAsideSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section, 
aside {
    padding: 2em 0 2em 0;
}

            /*  Hebergements    */

#hebergements {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 1.5%;
    width:63.25%;
    border-radius: 25px;
}

                /*  Titre de la section hebergement */

#hebergements h3 {
    padding: 0 0 0 3.3rem;
    font-size: 1.78rem;
}

                /*  Cartes Hebergement  */

.cartesHebergements,
.card {
    display: flex;
    width: 100%;
}
                
.cartesHebergements {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
                
.card {
    object-fit: cover;
    height: 16rem;
    flex-flow: column;
    padding: 0.2rem;
    margin: auto;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 5px 15px 3px rgba(128, 128, 128, 0.3);
    transition: all 0.4s ease-out;
}

.card:hover {
    transform: scale(1.02);
}

.cartesHebergements a {
    width: 27.4%;
    margin-bottom: 3rem;
}

.card .gauche {
    padding: 0 0 0 1.7rem;
}

.card .center {
    padding: 0;
}

.card .droite {
    padding: 0 2rem 0 0;
}

#hebergements figure {
    border: none;
} 
                    /*  Les images  */

#hebergements img {
    width: auto;
    border-radius: 25px 25px 0 0;
    height: 60%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    object-fit: cover;
}

                    /*  La description des cartes */

#hebergements figcaption {
    background-color: #fff;
    color: black;
    padding: 0;
    text-align: left;
}
                    
#hebergements h4 {
    margin: 0.5rem 0 0 0.5rem;
    padding-left: 0.6rem;
    font-size: 1.32rem;
    font-weight: 700;
}
                    
#hebergements p {
    margin: 0.4rem 0 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    padding-left: 1.1rem;
}

                    /*  Les étoiles */

#hebergements .etoiles {
    font-size: 0.9rem;
    padding: 0 0 0 1rem;
    margin: 0.2rem 0 0.2rem 0;
    color: #DEEBFF;
}
                    
.blue {
    color: #0065FC;
}

                    /*  Lien afficher plus */

#hebergements .link {
    padding: 1rem 0 1rem 0;
    margin-bottom: 0.6rem;
}
                    
.link a {
    padding: 3.5rem;
    font-size: 1.45rem;
    color: black;
}
            /*  Les plus populaires */

                /*  L'icone */

aside {
    margin: 0 1.5% 0 1.5%;
    width: 30%;
    border-radius: 25px;
    padding: 0;
}

aside .logoLink {
    position: relative;
    left: 3.1rem;
    margin: 4rem 3rem -1em 5.5rem;
    font-size: 1.4rem;
}

                /*  Titre les plus populaires   */

.asideTitle {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 3.3rem;
}
                
aside h3 {
    margin-top: 4rem;
    font-size: 1.78rem;
    margin-bottom: -1rem;
}

                /*  Les cartes les plus populaires  */

aside .card {
    display: flex;
    object-fit: cover;
    border: none;
    flex-flow: row;
    margin: 3.05rem;
    width: 80%;
    height: 11rem;
    border-radius: 25px;
    border-color: white;
}

                    /*  Images cartes les plus populaires   */

aside img {
    width: 40%;
    border-radius: 25px 0 0 25px;
    height: 98%;
    padding: 0.5%;
    object-fit: cover;
    margin-right: 3%;
    }
                    
aside .imageCarteBasPopulaires {
    margin-right: 0;
}

                    /*  Légende les plus populaires */
aside h4 {
    margin-bottom: 0;
    font-size: 1.34rem;
    font-weight: 700;
    color: black;
}
                    
aside .titreCarteBasPopulaires {
    padding-left: 1rem;
}
                    
aside  p {
    margin: 0.4rem 0 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    color: black;
}
                    
aside .texteCarteBasPopulaires {
    padding-left: 1.1rem;
}

                    /*  Cartes Les Plus Populaires  */

aside .etoiles {
    font-size: 0.9rem;
    color: #DEEBFF;
}
                    
aside .etoilesCarteBasPolpulaire {
    padding-left: 1.1rem;
}

aside .etoiles,
aside .etoilesCarteBasPolpulaire {
    margin-top: 2.5em;
}
            /*  Activités   */

#activites {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.1%;
    padding-left: 1.5%;
}
            
#activites article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 1.8%;
}

            /*  Titre des activités*/

#activites h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
    padding: 1%
}

            /*  Les cartes */
            
.activiteColonnesCartes,
.activitegrandecarte {
    display: flex;
    flex-direction: column;
    width: 23%;
    padding: 0;
    height: 38rem;
    flex-flow: column;
    background-color: white;
} 

#activites h4 {
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: 1.34rem;
    font-weight: 700;
    color: black;
}

#activites .tailleGrandeCarte,
#activites .lesGrandesCartes {
    height: 100%;
}

#activites .lesGrandesCartes,
#activites .cartesColonnes {
    width: 98%;
    padding: 0;
    border-radius: 25px;
}

#activites img {
    border-radius: 25px 25px 0 0;
    width: 100%;
    object-fit: cover;
}

                /*  2eme carte et 6eme carte    */


#activites .sixiemeCarte,
#activites .deuxiemeCarte {
    height: 50%;
}

#activites .deuxiemeCarte {
    padding-bottom: 7.5%;
}

#activites .sixiemeCarte {
    padding-top: 7%;
}

.deuxiemeCarte figure,
.sixiemeCarte figure  {
    height: 100%;
}

.deuxiemeImageCarte,
.sixiemeImageCarte {
    object-position: 0rem;
}

.deuxiemeImageCarte {
    height: 75%;
}

.sixiemeImageCarte {
    height: 76%;
}

                /*  cartes petites 3eme et 5eme carte  */

#activites .troisiemeCarte,
#activites .cinquiemeCarte {
    height: 40%;
}

#activites .troisiemeCarte {
    padding-top: 7%;
}

#activites .cinquiemeCarte {
    padding-bottom: 7.5%;
}

.troisiemeCarte figure,
.cinquiemeCarte figure {
    height: 100%;
}

.troisiemeImageCarte,
.cinquiemeImageCarte {
    object-position: 0rem;
}

.troisiemeImageCarte {
    height: 69%;
}

.cinquiemeImageCarte {
    border-radius: 25px 25px 0 0;
    height: 70%;
}

                /*  Les grandes cartes 1ere et 4eme carte */

                               
.premiereCarte {
    height: 87%;
}
                
.quatriemeCarte {
    height: 87.5%; 
    object-position: 0rem;
}

    /*  Footer  */

footer {
    display: flex;
    justify-content: flex-start;
}

        /*  Les listes du footer  */
.aPropos {
    margin-left: 3%;
    margin-right: 17%;
}
        
.hebergements {
    margin-right: 20%;
}

        /*  Les titres et les liens du  */

footer h5 {
    margin-bottom: 0;
    font-size: 1.50rem;
    font-weight: 600;
}
        
footer ul {
    padding-left: 0;
    list-style: none;
}
        
footer li {
    margin-bottom: 1rem;
}
        
body footer a {
    font-size: 1.3rem;
    font-weight: 300;
}

footer h5,
body footer a {
    color: black;
}

/*============================= RESPONSIVE  ======================================*/

/*===========================*/
/*
**  Laptop
**  Grands Desktop
** LP Responsiveness
**  
 */
/*===========================*/
@media all and (max-width: 1179px) {

/*  En  tête    */
#titre {
        padding: 2rem 3rem;
    }

#titre img {
    width: 6.5rem;
}

#menu li,
#menuInscription li {
    font-size: 1.1rem;
}

/*  Le corps de page */

    /*  Slogan  */

.sloganTitre  {
    font-size: 1.22em
}

.sloganParagraphe {
    font-size: 1rem;
}

    /*  Formulaire de recherche */

.icons {
    width: 0.2rem;
}

.icons svg {
    width: 0.75rem;
}

#recherche {
    width: 14.2rem;
    font-size: 1.1rem;
}

.buttonRechercher {
    font-size: 1rem;
    padding: 1%;
    width: 8rem;
}

    /*  Filtres */

#filtres h2 {
    font-size: 1.1rem;
    padding-left: 0rem;
}

#filtres ul {
    padding-left: 1.5rem;
}

#filtres li {
    font-size: 1.2rem;
}

#filtres span {
    padding: 0.8rem;
}

.infoIcon {
    font-size: 1rem;
}

    /*  Les hebergement */ 

#hebergements {
    height: 100%;
}

#hebergements h3 {
    font-size: 1.3rem;
    padding-left: 4%;
    margin-top: 0;
}

.link a {
    font-size: 1.1rem;
    padding: 2rem;
}

        /*  Les cartes  */

.cartesHebergements a {
    margin-bottom: 2rem;
}

.cartesHebergements figure {
    height: 14rem;
}

#hebergements h4 {
    font-size: 1rem;
}

#hebergements p {
    font-size: 0.9rem;
}

        /*  Les etoiles */

.etoiles {
    margin: 0;
}

    /*  Les plus populaires */

.cartesLesPlusPopulaires {
    height: 100%;
}

.asideTitle {
    justify-content: center;
}

.asideTitle h3 {
    font-size: 1.3rem;
    margin-top: 2.5rem;
    width: 80%;
}

.asideTitle .logoLink {
    margin: 2.5rem 0 0 0;
    padding: 0;
    width: 34%;
}

        /*  Les cartes  */
.cartesLesPlusPopulaires figure {
    height: 8rem;
    margin-bottom: -0.5rem;
    margin: 10%;
}

.cartesLesPlusPopulaires h4 {
    font-size: 1rem;
}

.cartesLesPlusPopulaires p {
    font-size: 0.9rem;
}

.cartesLesPlusPopulaires .etoiles {
    margin-top: 1em;
}

    /*  Les activités */

#activites h3 {
    font-size: 1.4rem;
    padding-left: 0;
    padding-bottom: 4%;
}


#activites div {
    height: 28.5rem;
}

        /*  Les cartes  */

.deuxiemeCarte figure,
.cinquiemeCarte figure {
    height: 100%;
}
        
.troisiemeCarte figure,
.sixiemeCarte figure {
    height: 98%;
}

.tailleGrandeCarte figure {
    height: 101%;
}       

#activites h4 {
    font-size: 1rem;
}

    /*  Pied de page    */

footer h5 {
    font-size: 1.1rem;
}

footer li {
    margin-bottom: 0.5rem;
}

.footerlist a {
    font-size: 1rem;
}
}
	
    /*===========================*/
    /*(min-width: 1440px) and (max-width: 1600px) */
    /*===========================*/

/*=============================
**  Petit Desktop et Grands Laptop
 */
/*===========================*/

    /*===========================*/
    /*(min-width: 1180px) and (max-width: 1439px) */
    /*===========================*/

/*===========================
Grandes Tablette et Laptop
 */
/*===========================*/	
@media all and (max-width: 1179px) {
        
    /*  L'en-tête   */

    
header nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    flex-wrap: wrap;
}
    
#menu {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    padding: 0;    
    width: 50%;
    justify-content: flex-end;
}

#menu li  {
    display: flex;
    width: 20%;
    justify-content: center;
    margin: 0
}

#menu .lienMenuHebergement {
    padding: 0;
    order: 1;
}

#menu .lienMenuActivite {
    padding: 0;
    margin: 0;
    order: 2;
}

#menu li.lienMenuActivite a,
#menu li.lienMenuHebergement a {
padding-top: 0.4rem;
}

#menu #lienMenuInscription {
width: 20%;
justify-content: flex-start;
}

#menu .lienMenuSinscrire {
width: 25%;
justify-content: flex-end;
padding-top: 3.5rem;
margin-top: 0;
order: 3;
}

#menu .mobileBorder {
margin-top: 3rem;
}


    
/*  Le corps    */
    
body main {
padding: 0;
margin: 0;
}
    
/*  slogan  */
    
#slogan {
    font-size: 1.3rem;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 0%;
}
    
#slogan h1 {
margin-bottom: 2%;
} 
    
    /*  Recherche   */
    
form {
    padding-left: 5%;
}
    
.buttonRechercher {
display: none;
}
    
.buttonLoupe {
visibility: visible;
border-radius: 15px;
padding: 1rem;
position: relative;
right: 1rem;
}
    
    /*  Filtres */
    
#filtres {
padding-left: 5%;
padding-bottom: 0%;
margin: 0;
flex-wrap: wrap;
}
    
#filtres ul {
    margin-top: 2%;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}

#filtres ul li {
    margin: 1rem 0;
    font-size: 1rem;
    width: 25%;
}
    
        /*  Infos dans le header    */
    
.infoIcon {
        padding: 0 1% 3% 5%;
}
    
        /*  section */

            /*  hebergements    */
    
#hebergements {
    width: 100%;
    order: 2;
    margin: 0;
    background-color: transparent;
    padding-bottom: 0;
}
    
                /*  Les cartes  */
    
.cartesHebergements a {
padding: 1%;
width: 25%;
margin: 0;
height: 14.5rem;
}

            /*  Les plus populaires */
    
aside {
border-radius: 0;
}

.asideTitle {
justify-content: space-between;
padding: 3% 5% 0 5%;
}

.asideTitle .logoLink {
margin: 0;
padding: 2% 0;
position: static;
}

.cartesLesPlusPopulaires {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 4%;
}
    
aside {
width: 100%;
order: 1;
margin: 0;
}
    
.asideTitle h3 {
margin-top: 0;
padding: 1rem;
}
    
.cartesLesPlusPopulaires a {
width: 30%;
padding: 1%;
height: 8rem;
}
    
                /*  Les cartes  */
    
.cartesLesPlusPopulaires figure {
margin: 0;
width: 100%;
height: 108%;
}

.imageCarteBasPopulaires {
width: 50%;
}

aside .titreCarteBasPopulaires,
aside .texteCarteBasPopulaires {
padding-left: 5%;
}

.etoilesCarteBasPolpulaire {
margin-left: 5%;
}


                /*  Les étoiles */
            
            
    
aside .etoiles {
padding: 0;
font-size: 0.7rem;
margin-top: 2.5em;
}         

                /*  Les activites   */

#activites {
    order: 3;
}
    
            /*  footer  */
footer {
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
}       
    
.footerlist {
padding: 0;
margin: 0;
}  
}

        /*===========================*/
    /*(min-width: 921px) and (max-width: 1024px) */
    /*===========================*/

/*===========================*/
/* Tablettes et Petits Laptop
*/
/*===========================*/	
@media all and (max-width: 920px) {
    
        /*  L'en-tête   */

header nav {
    width: 100%;
}        

#menu .lienMenuSinscrire {
    padding-top: 2%;
    padding-right: 10%;
}
    
#menu li.lienMenuHebergement a.mobileBorder,
#menu li.lienMenuActivite a.mobileBorder {
    padding: 10%;
}
    
#menu .lienMenuHebergement {
    margin-right: -3rem;
    font-size: 1rem;
    width: 50%;
}
    
#menu li.lienMenuHebergement a {
    padding-top: 0rem;
    margin-top: 2.5rem;
}
    
#menu .lienMenuActivite {
    font-size: 1rem;
    width: 50%;
}
    
#menu li.lienMenuActivite a {
    padding-top: 0rem;
    margin-top: 2.5rem;
}
    
#menuInscription {
    width: 30%;
    justify-content: flex-end;
    padding: 0;
    margin-top: 0;
}
    
#menu .lienMenuSinscrire {
    width: 70%;
    justify-content: flex-start;
    margin-top: 0.2rem;
}
    
#menu .mobileBorder {
    margin-top: 3.5rem;
}
        
    /*  Le corps    */
        
    /*  slogan  */
        
main #slogan {
    margin-bottom: 1%;
}
    
#filtres li {
    width: 50%;
}
    
#filtres ul li:nth-child(4) {
    margin: 1rem 0;
    font-size: 1rem;
    width: 100%;
}
    
            /*  section */
        
                /*  Les cartes hebergements    */
    
#hebergements .cartesHebergements {
    flex-direction: row;
}                
    
#hebergements .cartesHebergements a {
    padding: 5%;
    width: 35%;
    height: 13rem;
}
        
.cartesHebergements figure {
    height: 120%;
}
        
                    /*  Les liens   */
        
#hebergements .link {
    padding-top: 4%;
    padding-bottom: 4%;
}
        
                /*  Les plus populaires */
        
aside {
    padding: 5%;
}   
    
.asideTitle {
    padding: 0;
}
    
.cartesLesPlusPopulaires a {
    width: 42%;
    padding: 2%;
}
        
                    /*  Les cartes  */
        
.cartesLesPlusPopulaires figure {
    height: 107%;
}

 /*  Les activités   */
    
 #activites {
    width: auto;
    order: 3;
    margin: 0;
    padding: 0;
    }
        
    #activites h3 {
    margin-top: 0;
    font-size: 1.3rem;
    padding: 2rem 0 1rem 1.5rem;
    }
        
    #activites article {
    justify-content: center;
    height: 100%;
    width: auto;
    }
        
                    /*  Les cartes  */
        
    .activiteColonnesCartes,
    .activitegrandecarte {
    width: 92%;
    padding: 4%;
    width: 40%;
    height: 25rem;
    }
               
    #activites .lesGrandesCartes {
    height: 98%;
    width: 100%;
    }
        
    #activites .cartesColonnes {
    height: 92%;
    width: 100%; 
    }
        
    #activites .premiereCarte,
    #activites .quatriemeCarte {
    height: 84%;
    object-position: 0rem;
    }
        
    #activites .deuxiemeImageCarte,
    #activites .troisiemeImageCarte,
    #activites .cinquiemeImageCarte,
    #activites .sixiemeImageCarte {
    height: 65%;
    object-position: 0rem;
    }
        
    #activites h4 {
    font-size: 1.1rem;
    }
}
            
    /*===========================*/
    /*(min-width: 765px) and (max-width: 920px) */
    /*===========================*/

/*===========================
Petites Tablettes 
/* 
 * */
/*===========================*/	
@media all and (max-width: 764px) {

    /*  L'en-tête   */
    
header {
    flex-wrap: wrap;
}
    
header #titre {
    padding-bottom: 0;
}
    
body header nav {
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
}
    
#menu .lienMenuSinscrire {
    padding-top: 2%;
    padding-right: 10%;
}
    
#menu li.lienMenuHebergement a.mobileBorder,
#menu li.lienMenuActivite a.mobileBorder {
    padding: 10%;
}
        
#menu {
    width: 100%;
}
    
#menu .lienMenuHebergement,
#menu .lienMenuActivite:hover {
    border-top: transparent 4px solid;
    border-bottom: #F2F2F2 4px solid;
}

#menu .lienMenuHebergement:hover,
#menu .lienMenuActivite:hover {
    border-top: transparent 4px solid;
    border-bottom: #0065FC 4px solid;
}
    
#menu li.lienMenuHebergement a {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
    
#menu .lienMenuActivite {
    border-bottom: #F2F2F2 4px solid;
}
    
#menu li.lienMenuActivite a {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: black;
}
    
#menuInscription {
    width: 100%;
    margin-top: -9%;
    position: relative;
    align-items: center;
}
    
#menuInscription li {
    padding-top: 2rem;
}
    
    /*  Le corps    */

    /*  filtres */

#filtres ul li {
    margin: 1rem 0;
    font-size: 1rem;
    width: 50%;
}

        /*  Infos dans le header    */
    
.infoIcon {
    padding: 0 1% 1% 5%;
}
    
        /*  section */
    
            /*  Les cartes d'hebergements    */
    
#hebergements figure {
    height: 115%;
}
}       
        /*===========================*/
    /*(min-width: 680px) and (max-width: 765px) */
    /*===========================*/

/*===========================*/
/*Très grands Smartphone et 
    Tres petite Tablette
/*  */
/*===========================*/	
@media all and (max-width: 679px) {


#menuInscription {
    margin-top: 5%;
}
    
        /*  L'en-tête   */
        
#titre {
        padding: 1rem;
        position: absolute;
}
    
        /*  Le corps    */
        
        /*  slogan  */
        
#slogan {
        font-size: 0.9rem;
        margin-bottom: 10%;
}
        
#slogan h1 {
        font-size: 1.1rem;
} 
        
        /*  Recherche   */
        
            /*  Filtres */
        
#filtres li {
    margin: 1rem 0;
    font-size: 0.8rem;
    width: 54%;
}

#filtres .filtreFamilial,
#filtres .filtreAnimaux {
    margin-left: -2rem;
    font-size: 1rem;
}
        
#filtres .filtreFamilial {
    width: 45%;
}
        
#filtres .filtreAnimaux {
    width: 100%;
}
    
#filtres ul li span svg {
    height: 0.8rem;
}
    
.buttonfiltres {
    margin-left: -1rem;
}
        
    /*  Infos dans le header    */
        
body main div.infoIcon p {
    font-size: 0.8rem;
}

            /*  section */
        
body main div.sectionAsideSection {
    flex-direction: column;
}       
                /*  hebergements    */
     
#hebergements h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
    padding: 0 0 1rem 1.5rem;
}
                    /*  Les cartes  */
        
#hebergements article {
    flex-direction: column;
    padding: 0%;
}
        
#hebergements .cartesHebergements a {
    width: 40%;
    height: 15rem;
}
        
#hebergements figure {
    height: 98%;
}
                /*  Les liens   */
        
#hebergements div a {
    padding: 3.5rem 1.5rem;
    font-size: 0.9rem;
}
        
               
    
                    /*  Les activites   */
    
.activitegrandecarte {
    width: 80%;
    padding: 5% 10% 5% 10%;
    height: 100%;
}
    
#activites .activiteColonnesCartes {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    height: 20rem;
}
        
#activites .activiteColonnesCartes a {
    width: 90%;
    padding: 5%;
    height: 100%;
}
    
        
#activites .activiteColonnesCartes figure {
    height: 80%;
    width: 100%;
}
               
                /*  footer  */
footer {
    flex-direction: column;
    width: auto;
}       
        
footer .footerlist {
    padding-left: 10%;
}
        
footer h5 {
    font-size: 1rem;
    font-weight: bold;
}
        
footer a {
    font-size: 0.9rem
}
        
footer li {
    margin-bottom: 0.3rem;
}
}      
    /*===========================*/
    /*(min-width: 428px) and (max-width: 679px) */
    /*===========================*/


/*===========================*/
/*Très grands Smartphone et 
    Tres petite Tablette
/*  */
/*===========================*/	
@media all and (max-width: 649px) {
    /*  Les plus populaires */
    
 aside {
    padding: 0;
}            
    
aside .cartesLesPlusPopulaires a {
    width: 92%;
    padding: 4%;
    height: 11rem;
}
        
                    /*  Les cartes  */
        
aside .cartesLesPlusPopulaires h4 {
    font-size: 1.3rem;
}
        
aside .cartesLesPlusPopulaires p {
    font-size: 1.1rem;
}
        
                    /*  Les étoiles */
        
aside .cartesLesPlusPopulaires .etoiles {
    margin-top: 2rem;
}           
        
aside .imageCarteBasPopulaires {
    width: 40%;
}
}    



/*===========================*/
/*Grands Smartphone
/*  */
/*===========================*/	
@media all and (max-width: 427px) {
  
        /*  section */
                /*  Les cartes  */
    
#hebergements .cartesHebergements a {
    padding: 0 7% 0 7%;
    width: 86%;
    height: 15rem;
}
    
#hebergements figure {
    height: 90%;
}
    
            /*  Les liens   */

#hebergements .link a {
    font-size: 1.1rem;
}
    
            /*  Les plus populaires */               

.asideTitle h3 {
    margin-top: 0;
    font-size: 1.4rem;
    padding: 10% 0% 0% 7%;
}

.asideTitle .logoLink {
    display: flex;
    justify-content: flex-end;
    padding: 11% 9% 5% 9%;
}
    
                /*  Les cartes  */
aside .cartesLesPlusPopulaires a {
    width: 88%;
    padding: 3.5% 6% 3.5% 6%;
    height: 8.5rem;
} 

aside .titreCarteBasPopulaires {
    padding-left: 10%!important;
}

aside .cartesLesPlusPopulaires h4 {
    font-size: 1.05rem;
    padding-left: 2%;
}
    
aside .cartesLesPlusPopulaires p {
    font-size: 1rem;
    padding-left: 2%;
}

aside .texteCarteBasPopulaires {
    padding-left: 10%!important;
}

.derniereCarteLesPlusPopulaires {
    margin-bottom: 5%;
}
    
                /*  Les étoiles */
    
aside .cartesLesPlusPopulaires .etoiles {
    padding-left: 2%;
    font-size: 0.8rem;
}           

.etoilesCarteBasPolpulaire {
    padding-left: 5%!important;
}

    /*  Les activités */

#activites article {
    padding: 0;
}
    
#activites div {
    height: 13.5rem;
    padding: 0;
}

#activites h3 {
    font-size: 1.4rem;
    padding-bottom: 8%;
}

#activites h4 {
    font-size: 1rem;
}
    
            /*  Les cartes  */

#activites .activitegrandecarte {
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}            
           
#activites .activiteColonnesCartes {
    flex-direction: column;
    height: 100%;
    width: 91%;
    padding-left: 5%;
    padding-right: 4%;
    background-color: transparent;
}

#activites .activiteColonnesCartes .tailleDesLiensCartesColonnes,
#activites .tailleGrandeCarte {
    height: 13rem;
}

#activites .activiteColonnesCartes .tailleDesLiensCartesColonnes {
    padding-top: 0%;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

#activites .activiteColonnesCartes .troisiemeCarte,
#activites .activiteColonnesCartes .sixiemeCarte {
    padding-top: 1.1%;
    padding-bottom: 1.1%;
}

#activites .activiteColonnesCartes .sixiemeCarte {
    padding-bottom: 9%;
}

#activites .activiteColonnesCartes .cartesColonnes,
.tailleGrandeCarte figure {
    height: 100%;
}

#activites .cartesColonnes .tailleDesImagesCartesColonnes,
#activites .tailleGrandeCarte img {
    height: 72%;     
}          
            /*  footer  */
    
    

footer h5 {
    padding-top: 5%;
    font-size: 1.15rem;
    font-weight: bold;
}
    
.footerlist a {
    font-size: 1.1rem;
}
    
.footerlist li {
    margin-bottom: 1rem;
}
}

    /*===========================*/
    /*(min-width: 398px) and (max-width: 427px) */
    /*===========================*/

/*===========================*/
/*Smartphone
/*  */
/*===========================*/	
@media all and (max-width: 398px) {

    /*  Le corps    */

 /*  Filtres */

    
#filtres .buttonfiltres {
    font-size: 0.9rem;
    padding-top: 6%;
    padding-bottom: 5.6%;
}  

#filtres .filtreFamilial {
    margin-left: -1.9rem;
    padding-top: 4.9%;
    padding-bottom: 4.9%;
    font-size: 1rem;
    width: 100%;
}

#filtres .filtreEconomique {
    margin-left: -1.9rem;
    padding-top: 4.9%;
    padding-bottom: 5%;
    font-size: 1rem;
    width: 100%;
}

#filtres .filtreRomantique {
    margin-left: -2rem;
    padding-top: 5%;
    padding-bottom: 5.5%;
    font-size: 1rem;
    width: 100%;
}

#filtres .filtreAnimaux {
    margin-left: -2rem;
    padding-top: 2.5%;
    padding-bottom: 2.8%;
    font-size: 1rem;
    width: 100%;
}    

/*  Infos dans le header    */
    
        /*  section */
    
            /*  hebergements    */

#hebergements h3 {
    font-size: 1.2rem;
    padding-top: 1%;
    padding-bottom: 5%;
}

                /*  Les cartes  */
    
#hebergements .cartesHebergements a {
    height: 13.5rem;
}

 /*  Les images des hebergements */

#hebergements img {
    width: auto;
    border-radius: 25px 25px 0 0;
    height: 58%;
    padding: 0.5%;
    object-fit: cover;
}

#hebergements h4 {
    font-size: 0.85rem;
}

#hebergements p {
    font-size: 0.75rem;
}

   /*  Les etoiles des hebergements    */

            /*  Les etoiles des carte    */

#hebergements .etoiles {
    font-size: 0.8rem;
    padding: 0 0 0 1rem;
    margin: 0.1rem 0 0.1rem 0;
    color: #DEEBFF;
}
            

            /*  Les plus populaires */               

.asideTitle h3 {
    font-size: 1.2rem;
}

.asideTitle .logoLink {
    padding: 11% 9% 3% 9%;
}
    
                /*  Les cartes  */
aside .cartesLesPlusPopulaires a {
    height: 8rem;
} 

aside .cartesLesPlusPopulaires h4 {
    font-size: 0.9rem;
}
    
aside .cartesLesPlusPopulaires p {
    font-size: 0.8rem;
}

                /*  Les étoiles */
    
aside .cartesLesPlusPopulaires .etoiles {
    font-size: 0.7rem;
}           

    /*  Les activités */

#activites h3 {
    font-size: 1.3rem;
}

            /*  Les cartes  */


#activites .activiteColonnesCartes .tailleDesLiensCartesColonnes,
#activites .tailleGrandeCarte {
    height: 12rem;
}

#activites .cartesColonnes .tailleDesImagesCartesColonnes,
#activites .tailleGrandeCarte img {
    height: 70%;     
}          
      
}

        /*===========================*/
    /*(min-width: 360px) and (max-width: 391px) */
    /*===========================*/

/*===========================*/
/*Petit Smartphone
/*  */
/*===========================*/	
@media all and (max-width: 359px) {


    /*  Le corps    */

        /*  Recherche   */

#recherche {
    width: auto;
    font-size: 0.9rem;
}

        /*  Filtres */

 /*  Filtres */

#filtres .filtreFamilial,
#filtres .filtreEconomique,
#filtres .filtreRomantique,
#filtres .filtreAnimaux {
    padding-top: 8%;
    padding-bottom: 7%;
    font-size: 0.8rem;
}

#filtres .filtreFamilial,
#filtres .filtreRomantique {
    margin-left: -1.9rem;
}

#filtres .filtreEconomique {
    margin-left: -1.5rem;
  
}

#filtres .filtreAnimaux {
    margin-left: -1.8rem;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}    
    
        /*  section */
    
            /*  hebergements    */

#hebergements h3 {
    font-size: 1.3rem;
    padding-bottom: 6%;
}
    
            /*  Les plus populaires */               

.asideTitle h3 {
    font-size: 1.1rem;
    margin-bottom: 8%;
}
}
        
        /*===========================*/
    /*(min-width: 300px) and (max-width: 359px) */
    /*===========================*/

/*===========================*/
/*Mini Smartphone
/*  */
/*===========================*/	
@media all and (max-width: 312px) {

    /*  Le corps    */

        /*  Recherche   */

#recherche {
    font-size: 0.6rem;
}
    
.buttonLoupe {
padding: 0.8rem;
right: 1rem;
font-size: 0.8rem;
}

        /*  Filtres */

 /*  Filtres */

#filtres .icone {
    padding: 0.2rem;
}

#filtres .filtreFamilial,
#filtres .filtreEconomique,
#filtres .filtreRomantique,
#filtres .filtreAnimaux {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 0.6rem;
}

#filtres .filtreFamilial,
#filtres .filtreRomantique {
    margin-left: -1rem;
}

#filtres .filtreEconomique {
    margin-left: -1rem;
  
}

#filtres .filtreAnimaux {
    margin-left: -1rem;
    padding-top: 2.6%;
    padding-bottom: 1%;
}    

        /*  Infos dans le header    */
    
body main div.infoIcon p {
    font-size: 0.6rem;
}
        /*  section */
    
            /*  hebergements    */

#hebergements h3 {
    font-size: 1rem;
}
    
            /*  Les plus populaires */               

.asideTitle h3 {
    margin-top: 0;
    font-size: 0.8rem;
}
    
                /*  Les cartes  */

aside .cartesLesPlusPopulaires figure {
    height: 80%;
}

aside .cartesLesPlusPopulaires h4 {
    font-size: 65%;
}

aside .cartesLesPlusPopulaires p {
    font-size: 60%;
}

aside .cartesLesPlusPopulaires .etoiles {
    font-size: 30%;
}
}
            
        /*===========================*/
    /*(min-width: 0px) and (max-width: 300px) */
    /*===========================*/


